name: Manual Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Extract version from pom.xml
        id: get_version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build with Maven
        run: mvn clean package -f pom.xml

      - name: Generate Checksum
        run: |
          # Creates a SHA-256 hash and saves only the hash value to checksum.txt
          sha256sum target/PeachPaperLib-${{ steps.get_version.outputs.VERSION }}.jar | awk '{print $1}' > target/checksum.txt

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ steps.get_version.outputs.VERSION }}"
          name: "PeachPaperLib v${{ steps.get_version.outputs.VERSION }}"
          files: |
            target/PeachPaperLib-${{ steps.get_version.outputs.VERSION }}.jar
            target/checksum.txt
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}